/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/
/* ------- Default BYU styling --------- */
/* colors here for now */
/* blues */
/*$navy: #002E5D;*/
/*$medblue: #869DB5;*/
/*$lightBlue: #e0f0cc;*/
/*$xlightblue: #C3DDF9;*/
/*$brightBlue: #0057B8;*/
/*$royal: #003DA5;*/
/*$lightRoyal: #114BAD;*/
/*// There are 6 grays right now..*/
/*$xlightgray: #f2f2f2;*/
/*$lightgray: #e5e5e5;*/
/*$lightergray: #e6e6e6;*/
/*//$medgray: #9b9b9b; // extra*/
/*$gray: #c5c5c5;*/
/*$medgray: #666;*/
/*$darkgray: #6a6a6b; // least used gray*/
/*$darkestgray: #141414;  // this should be used for body & default text.*/
/* other colors */
/*$red: #B3041A;*/
/*$yellow: #FCC015;*/
/*$lightyellow: #fef2d0;*/
/*$teal: #84DCB4;*/
/*$lightteal: #e5f7ef;*/
/*$green: #66B200; // doesn't work with accessibility*/
/*$lightgreen: #e0f0cc;*/
a {
  color: #002e5d; }

a:hover {
  color: #003da5; }

/* --- BYU Components styling --- */
byu-header a {
  color: unset; }

byu-header #site-name {
  color: #fff; }

byu-header:not([mobile-view]) a {
  color: #fff; }

byu-header #site-name a:hover {
  color: #fff;
  text-decoration: none; }

.p-gotham p, .p-gotham span, .p-gotham div, .p-gotham a {
  font-family: "Gotham A", "Gotham B", Arial, sans-serif; }

.p-libreb p, .p-libreb span, .p-libreb div, .p-libreb a {
  font-family: "Libre Baskerville", Georgia, serif; }

[slot="site-title"] p, [slot="site-title"] span, [slot="site-title"] div, [slot="site-title"] a,
#site-name p,
#site-name span,
#site-name div,
#site-name a {
  font-family: "Vitesse A", "Vitesse B", serif; }

.subtitle.italic {
  font-style: italic; }

byu-header[mobile-view] [slot="actions"] a {
  color: #002e5d;
  font-weight: 500; }

byu-header[mobile-view] [slot="actions"] p {
  padding-bottom: 0;
  margin: 0; }

[slot="actions"] div,
[slot="actions"] p {
  padding-bottom: 0;
  margin: 0 15px; }

[slot="actions"] a:hover {
  text-decoration: none; }

[slot="actions"].royal {
  background: #003DA5;
  /*width: 110px;*/
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center; }

[slot="actions"].royal p,
[slot="actions"].royal div {
  margin: 0 5px; }

.region.region-header-actions {
  display: flex; }

/* -- override we need for byu footer component */
.secondary-footer [class*="column"] + [class*="column"]:last-child {
  float: none !important; }

/* -------- search --------- */
/* -- from instructions on byu-search component for SIMPLE search -- */
byu-search .element-invisible {
  display: none; }

byu-search .form-submit {
  display: none; }

byu-search .form-item, byu-search .form-actions {
  margin: 0px;
  max-height: 23px;
  padding: 0px;
  /* border-radius: 0px; */ }

byu-search input[type=search] {
  border-radius: 0px;
  height: 30px; }

/* -- needed to counter Foundation -- */
/* ------------ */
.h1-vitesse h1,
.h2-vitesse h2,
.h3-vitesse h3,
.h4-vitesse h4,
.h5-vitesse h5 {
  font-family: "Vitesse A", "Vitesse B", Georgia, serif; }

.h1-gotham h1,
.h2-gotham h2,
.h3-gotham h3,
.h4-gotham h4,
.h5-gotham h5 {
  font-family: "Gotham A", "Gotham B", Arial, sans-serif; }

.h1-sentinel h1,
.h2-sentinel h2,
.h3-sentinel h3,
.h4-sentinel h4,
.h5-sentinel h5 {
  font-family: "Sentinel A", "Sentinel B", "Vitesse A", "Vitesse B", Helvetica, serif; }

.h1-navy h1, .h2-navy h2, .h3-navy h3, .h4-navy h4, .h5-navy h5 {
  color: #002e5d; }

.h1-gray h1, .h2-gray h2, .h3-gray h3, .h4-gray h4, .h5-gray h5 {
  color: #666; }

.h1-black h1, .h2-black h2, .h3-black h3, .h4-black h4, .h5-black h5 {
  color: #000; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 29px; }

h3 {
  font-size: 24px; }

byu-menu.transparent {
  z-index: 100; }

#full-width-hero.hero_full_width_image_behind_menu {
  margin-top: -36px; }

header#constrained-width-hero.hero_custom_width_behind_menu {
  margin-top: -36px; }

.full-width-images > section img {
  width: 100%;
  height: auto !important; }

.full-width-true div.main {
  max-width: 100%; }

.full-width-false div.main {
  max-width: 1200px; }

.main {
  padding: 30px;
  margin-left: auto;
  margin-right: auto; }

.main.custom-width {
  padding: 30px 0px; }

#page-container {
  padding: 20px 0; }

/* Remove box-shadow from menu button in Firefox, Edge, IE11 */
.mobile-menu-button {
  -webkit-box-shadow: none;
  box-shadow: none; }

/* ---- Footer ---- */
/*.three_four_merged .region-footer-41 {*/
/*display: none;*/
/*}*/
/* - mobile */
@media screen and (max-width: 767px) {
  byu-footer:not('normal') .two-column,
  byu-footer:not('normal') .three-column,
  byu-footer:not('normal') .four-column {
    column: 1; } }

/* tablet */
@media screen and (min-width: 768px) {
  .three_four_merged .region-footer-31,
  .two_three_merged .region-footer-21,
  .one_two_merged .region-footer-11 {
    width: 100%;
    padding-left: 0; } }

/* large screen */
@media screen and (min-width: 1200px) {
  .three_four_merged .region-footer-31,
  .two_three_merged .region-footer-21,
  .one_two_merged .region-footer-11 {
    width: 50%; } }

/* ----------- Helpful Classess ---- */
.two-column, .three-column, .four-column {
  -webkit-column-gap: 15px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 15px;
  /* Firefox */
  column-gap: 15px; }

.two-column {
  column-count: 2;
  -webkit-column-gap: 30px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 30px;
  /* Firefox */
  column-gap: 30px; }

.three-column {
  column-count: 3; }

.four-column {
  column-count: 4; }

.navy-button {
  background: #002e5d;
  color: #fff;
  padding: 12px 25px; }

.medblue-button {
  background: #002e5d;
  /* change to medium blue */
  color: #fff;
  padding: 12px 25px; }

/* ------------- Do NOT make custom changes here - if you do they will be overridden when you update the theme.
1. Create a custom.scss file in this scss directory.
2. Edit byu2017_d7.info and find the lines where scss/byu_default.scss is included. You will see a commented out line
that will tell the theme to look for your custom.scss file.
3. Add your css
4. Clear your caches.
   ----------- */
/* ---- It is good practice to have sections in your styling, like this:  --- */
/* ------- Front ------ */
/* -- front feature custom -- */
/* ------- Misc. ------ */

/*# sourceMappingURL=byu_default.css.map */
