/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */
/* Base

Init file contains required imports. Here's where we include normalize,
foundation and also compass. */
/*
 * Theme specific variables. This takes the place of the normal _settings.scss.
 * See the STARTER/README.txt file regarding "CHANGING FOUNDATION DEFAULT
 * SETTINGS" for documentation.
 */
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

script {
  display: none !important; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10. --Causes issues in Chrome
 */
/*a {
    background: transparent;
}*/
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Each individual part that can be added in */
/* Import our mixins early so they can be used by other partials. */
/* Common file is where you place common utility classes to extend or
parametrics. Optional file. */
/* Fix for some Drupal CSS quirks (Drupalisms). */
.admin-menu .fixed {
  top: 1.8125em; }

#status-messages.reveal-modal .alert-box {
  margin-bottom: 0; }

.reveal-modal {
  z-index: 999; }

.item-list .pager {
  clear: none; }

.item-list .pager li {
  padding: 0;
  margin: 0;
  display: inline-block; }

/* Styling for elements. */
/* Layout */
/* Each section of the document has it's own partial seperated out to improve
 developer experience. Additionally, grids can be declared in layouts as well. */
/* Components
 @import "components/buttons";
 @import "components/type";
 @import "components/forms";
 @import "components/foundation-icons";

 Themes
 @import "theme/button-light";

 IE8 Grid Support
@import "ie"; */
/* ------- Default BYU styling --------- */
/*  // ---- colors ----  //  */
/* blues */
/* grays */
/* other colors */
/* -- link colors -- */
a {
  color: #002E5D; }

a:hover {
  color: #0057B8; }

.a-navy a {
  color: #002E5D; }

.a-navy a:hover {
  color: #0057B8; }

.a-royal a {
  color: #0057B8; }

.a-royal a:hover {
  color: #114BAD; }

/* --- BYU Components styling --- */
byu-header a {
  color: unset; }

byu-header #site-name {
  color: #fff; }

byu-header:not([mobile-view]) a {
  color: #fff; }

byu-header #site-name a:hover {
  color: #fff;
  text-decoration: none; }

byu-header byu-menu a {
  color: #002E5D; }

.p-ringside #page-container p, .p-ringside #page-container span, .p-ringside #page-container div, .p-ringside #page-container p > a, .p-ringside #page-container div > a {
  font-family: "HCo Ringside Narrow SSm", Arial, sans-serif; }

.p-libreb #page-container {
  font-family: "Libre Baskerville", Georgia, serif; }

[slot="site-title"] p, [slot="site-title"] span, [slot="site-title"] div, [slot="site-title"] a,
#site-name p,
#site-name span,
#site-name div,
#site-name a {
  font-family: "HCo Ringside Narrow SSm", serif; }

.subtitle.italic {
  font-style: italic; }

byu-header[mobile-view] [slot="actions"] a {
  color: #002E5D;
  font-weight: 500; }

byu-header[mobile-view] [slot="actions"] p {
  padding-bottom: 0;
  margin: 0; }

[slot="actions"] div,
[slot="actions"] p {
  padding-bottom: 0;
  margin: 0 15px; }

/* -- override we need for byu footer component */
.secondary-footer [class*="column"] + [class*="column"]:last-child {
  float: none !important; }

/* -------- search --------- */
/* -- from instructions on byu-search component for SIMPLE search -- */
byu-search .element-invisible {
  display: none; }

byu-search .form-submit {
  display: none; }

byu-search .form-text {
  height: 30px;
  margin: 0; }

byu-search input[type="text"] {
  color: #666;
  font-size: 13px;
  font-weight: 500; }

byu-search[mobile-view] .form-text {
  padding: 5px 10px 5px 16px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #c5c5c5; }

/* -- needed to counter Foundation -- */
byu-search img {
  max-width: unset; }

byu-search button#search-button {
  padding: 0 0 0 6px; }

/* ------------ */
.h1-ringside h1,
.h2-ringside h2,
.h3-ringside h3,
.h4-ringside h4,
.h5-ringside h5 {
  font-family: "HCo Ringside Narrow SSm", Arial, sans-serif; }

.h1-libreb h1,
.h2-libreb h2,
.h3-libreb h3,
.h4-libreb h4,
.h5-libreb h5 {
  font-family: "Libre Baskerville", Georgia, serif; }

.h1-sourcesans h1,
.h2-sourcesans h2,
.h3-sourcesans h3,
.h4-sourcesans h4,
.h5-sourcesans h5 {
  font-family: "Source Sans Pro", Arial, sans-serif; }

.h1-navy h1, .h2-navy h2, .h3-navy h3, .h4-navy h4, .h5-navy h5 {
  color: #002E5D; }

.h1-gray h1, .h2-gray h2, .h3-gray h3, .h4-gray h4, .h5-gray h5 {
  color: #666; }

.h1-black h1, .h2-black h2, .h3-black h3, .h4-black h4, .h5-black h5 {
  color: #000; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 29px; }

h3 {
  font-size: 22px;
  color: #002E5D; }

byu-menu.transparent {
  position: relative;
  z-index: 100; }

.menu-outer-wrapper .transparent {
  position: relative;
  z-index: 100; }

.hero_show_behind_menu {
  position: relative;
  margin-top: -36px;
  z-index: -1; }

.custom-width-hero {
  margin-left: auto;
  margin-right: auto; }
  .custom-width-hero.custom-width-1400 {
    width: 1400px !important; }
  .custom-width-hero.custom-width-1200 {
    width: 1200px; }
  .custom-width-hero.custom-width-1024 {
    width: 1024px; }
  .custom-width-hero.custom-width-1000 {
    width: 1000px; }
  .custom-width-hero.custom-width-992 {
    width: 992px; }
  .custom-width-hero.custom-width-940 {
    width: 940px; }

.l-featured.custom-width-1400,
.l-messages.custom-width-1400,
.l-help.custom-width-1400,
.l-main.custom-width-1400 {
  max-width: 1400px !important; }

.l-featured.custom-width-1200,
.l-messages.custom-width-1200,
.l-help.custom-width-1200,
.l-main.custom-width-1200 {
  max-width: 1200px; }

.l-featured.custom-width-1024,
.l-messages.custom-width-1024,
.l-help.custom-width-1024,
.l-main.custom-width-1024 {
  max-width: 1024px; }

.l-featured.custom-width-1000,
.l-messages.custom-width-1000,
.l-help.custom-width-1000,
.l-main.custom-width-1000 {
  max-width: 1000px; }

.l-featured.custom-width-992,
.l-messages.custom-width-992,
.l-help.custom-width-992,
.l-main.custom-width-992 {
  max-width: 992px; }

.l-featured.custom-width-940,
.l-messages.custom-width-940,
.l-help.custom-width-940,
.l-main.custom-width-940 {
  max-width: 940px; }

.full-width-images img {
  width: 100%;
  height: auto !important; }

.page > .row.full-width,
main.row.full-width {
  max-width: 100%; }

#page-container {
  padding: 20px 0; }

/* FOOTER */
byu-footer [class*="column"] + [class*="column"]:last-child {
  float: left; }

/* STICKY FOOTER */
.page.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#page-container.sticky-footer {
  flex-grow: 1; }

body.adminimal-menu .page.sticky-footer {
  min-height: calc(100vh - 28px); }

body.normal-admin-menu .page.sticky-footer {
  min-height: calc(100vh - 64px); }

/* Remove box-shadow from menu button in Firefox, Edge, IE11 */
.mobile-menu-button {
  -webkit-box-shadow: none;
  box-shadow: none; }

/* ------------- Do NOT make custom changes here - if you do they will be overridden when you update the theme.
1. Create a custom.scss file in this scss directory.
2. Edit byu_theme.info and find the lines where scss/byu_default.scss is included. You will see a commented out line
that will tell the theme to look for your custom.scss file.
3. Add your css
4. Clear your caches.
   ----------- */
/* ---- It is good practice to have sections in your styling, like this:  --- */
/* ------- Front ------ */
/* -- front feature custom -- */
/* ------- Misc. ------ */

/*# sourceMappingURL=byu_default.css.map */
