/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

/* Base

Init file contains required imports. Here's where we include normalize,
foundation and also compass. */
@import "base/init";

/* Import our mixins early so they can be used by other partials. */
@import "base/mixins";

/* Common file is where you place common utility classes to extend or
parametrics. Optional file. */
@import "base/common";

/* Fix for some Drupal CSS quirks (Drupalisms). */
@import "base/drupal";

/* Styling for elements. */
@import "base/elements";


/* Layout */

/* Each section of the document has it's own partial seperated out to improve
 developer experience. Additionally, grids can be declared in layouts as well. */
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";

/* Components
 @import "components/buttons";
 @import "components/type";
 @import "components/forms";
 @import "components/foundation-icons";

 Themes
 @import "theme/button-light";

 IE8 Grid Support
@import "ie"; */

/* ------- Default BYU styling --------- */

/*  // ---- colors ----  //  */

/* blues */
$navy: #002E5D;
$medblue: #869DB5;
$lightBlue: #e0f0cc;
$xlightblue: #C3DDF9;
$brightBlue: #0057B8;
$royal: #0057B8;
$lightRoyal: #114BAD;

/* grays */
$xlightgray: #f2f2f2;
$lightgray: #e5e5e5;
$lightergray: #e6e6e6;
$gray: #c5c5c5;
$medgray: #666;
$darkgray: #6a6a6b; // least used gray
$darkestgray: #141414;  // this should be used for body & default text.

/* other colors */
$red: #B3041A;

$yellow: #FCC015;
$lightyellow: #fef2d0;

$teal: #84DCB4;
$lightteal: #e5f7ef;

$green: #66B200; // doesn't work with accessibility
$lightgreen: #e0f0cc;

/* -- link colors -- */
a {
  color: $navy;
}

a:hover {
  color: $royal;
}

.a-navy a {
  color: $navy;
}
.a-navy a:hover {
  color: $royal;
}
.a-royal a {
  color: $royal;
}
.a-royal a:hover {
  color: $lightRoyal;
}

/* --- BYU Components styling --- */

byu-header a {
  color: unset;
}

byu-header #site-name {
  color: #fff;
}

byu-header:not([mobile-view]) a {
  color: #fff;
}

byu-header #site-name a:hover {
  color: #fff;
  text-decoration: none;
}

byu-header byu-menu a {
  color: $navy;
}

.p-ringside {
  #page-container {
    p, span, div, p > a, div > a {
      font-family: "HCo Ringside Narrow SSm", Arial, sans-serif;
    }
  }
}
.p-libreb {
  #page-container {
    p,span,div, p > a, div > a {
    }
    font-family: "Libre Baskerville", Georgia, serif;
  }
}


[slot="site-title"],
#site-name {
  p,span,div, a {
    font-family: "HCo Ringside Narrow SSm", serif;
  }
}
.subtitle.italic {
  font-style: italic;
}
//[slot="actions"] a,
byu-header[mobile-view] [slot="actions"] a {
  color: $navy;
  font-weight: 500;
}

byu-header[mobile-view] [slot="actions"] p {
  padding-bottom: 0;
  margin: 0;
}


[slot="actions"] div,
[slot="actions"] p {
  padding-bottom: 0;
  margin: 0 15px;
}


/* -- override we need for byu footer component */
.secondary-footer [class*="column"]+[class*="column"]:last-child{
  float: none!important;
}

/* -------- search --------- */
/* -- from instructions on byu-search component for SIMPLE search -- */

byu-search .element-invisible {
  display: none;
}

byu-search .form-submit {
  display: none;
}

byu-search .form-text {
  height: 30px;
  margin: 0;
}

byu-search input[type="text"] {
  color: $medgray;
  font-size: 13px;
  font-weight: 500;
}

byu-search[mobile-view] .form-text {
  padding: 5px 10px 5px 16px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}
/* -- needed to counter Foundation -- */
byu-search img {
  max-width: unset;
}
byu-search button#search-button {
  padding: 0 0 0 6px;
}

/* ------------ */


// headings

.h1-ringside h1,
.h2-ringside h2,
.h3-ringside h3,
.h4-ringside h4,
.h5-ringside h5 {
  font-family: "HCo Ringside Narrow SSm", Arial, sans-serif;
}

.h1-libreb h1,
.h2-libreb h2,
.h3-libreb h3,
.h4-libreb h4,
.h5-libreb h5 {
  font-family: "Libre Baskerville", Georgia, serif;
}

.h1-sourcesans h1,
.h2-sourcesans h2,
.h3-sourcesans h3,
.h4-sourcesans h4,
.h5-sourcesans h5 {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.h1-navy h1, .h2-navy h2, .h3-navy h3, .h4-navy h4, .h5-navy h5 {
  color: $navy;
}
.h1-gray h1, .h2-gray h2, .h3-gray h3, .h4-gray h4, .h5-gray h5 {
  color: $medgray;
}
.h1-black h1, .h2-black h2, .h3-black h3, .h4-black h4, .h5-black h5 {
  color: #000;
}

h1 {
  font-size: $h1-font-size; // 36px; //em-calc(44);
}
h2 {
  font-size: $h2-font-size; // 29px; //em-calc(37);
}
h3 {
  font-size: $h3-font-size; // 24px;
  color: $navy;
}

byu-menu.transparent {
  position: relative;
  z-index: 100;
}

.menu-outer-wrapper .transparent {
  position: relative;
  z-index: 100;
}

// regions
.hero_show_behind_menu {
  position: relative;
  margin-top: -36px;
  z-index: -1;
}

.custom-width-hero {
  margin-left: auto;
  margin-right: auto;

  &.custom-width-1400 {
    width: 1400px !important;
  }

  &.custom-width-1200 {
    width: 1200px;
  }

  &.custom-width-1024 {
    width: 1024px;
  }

  &.custom-width-1000 {
    width: 1000px;
  }

  &.custom-width-992 {
    width: 992px;
  }

  &.custom-width-940 {
    width: 940px;
  }
}

.l-featured,
.l-messages,
.l-help,
.l-main {
  &.custom-width-1400 {
    max-width: 1400px !important;
  }

  &.custom-width-1200 {
    max-width: 1200px;
  }

  &.custom-width-1024 {
    max-width: 1024px;
  }

  &.custom-width-1000 {
    max-width: 1000px;
  }

  &.custom-width-992 {
    max-width: 992px;
  }

  &.custom-width-940 {
    max-width: 940px;
  }
}

.full-width-images img {
  width: 100%;
  height: auto !important;
}

.page > .row.full-width,
main.row.full-width {
  max-width: 100%;
}


#page-container {
  padding: 20px 0;
}


/* FOOTER */

// Overrides styling in Zurb Foundation that displays incorrectly outside Chrome
byu-footer [class*="column"] + [class*="column"]:last-child {
  float: left;
}


/* STICKY FOOTER */
.page.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page-container.sticky-footer {
  flex-grow: 1;
}

body.adminimal-menu .page.sticky-footer {
  min-height: unquote("calc(100vh - 28px)");
}

body.normal-admin-menu .page.sticky-footer {
  min-height: unquote("calc(100vh - 64px)");
}


/* Remove box-shadow from menu button in Firefox, Edge, IE11 */

.mobile-menu-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* ------------- Do NOT make custom changes here - if you do they will be overridden when you update the theme.
1. Create a custom.scss file in this scss directory.
2. Edit byu_theme.info and find the lines where scss/byu_default.scss is included. You will see a commented out line
that will tell the theme to look for your custom.scss file.
3. Add your css
4. Clear your caches.
   ----------- */
/* ---- It is good practice to have sections in your styling, like this:  --- */

/* ------- Front ------ */

/* -- front feature custom -- */

/* ------- Misc. ------ */
