/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";
//
// Styling for elements.
@import "base/elements";
//

// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";

// Components
// @import "components/buttons";
// @import "components/type";
// @import "components/forms";
// @import "components/foundation-icons";

// Themes
// @import "theme/button-light";

// IE8 Grid Support
//@import "ie";

/* ------- Default BYU styling --------- */
// import BYU Styles
@import "https://raw.githubusercontent.com/byuweb/2017-styles/master/2017-styles.scss";
// import Hoeffler fonts according to byu styling
@import "https://cloud.typography.com/75214/6517752/css/fonts.css";

// colors here for now
$navy: #002e5d;
$royal: #003DA5;


a {
  color: $navy;
}
a:hover{
  color: $royal;
}

/* - BYU Components stylineg --- */

//a {
//  color: $navy;
//}
//a:hover{
//  color: $royal;
//}

byu-header.mobile-view) a#actions,
//byu-header:not(.mobile-view) a:not(#actions), // don't apply white to mobile-view actions
byu-header:not(.mobile-view) a, // don't apply white to mobile-view actions
#site-name {
  color: #fff;
}

byu-header:not(.mobile-view) a:not(#actions):hover,
#site-name a:not(#actions):hover {
  color: #fff;
  text-decoration: underline;
}

#site-name {
  p,span,div {
    font-family: "Vitesse A", "Vitesse B", serif;
  }
}
[slot="actions"] div,
[slot="actions"] p {
  /* color: pink; */
  padding-bottom: 0;
  margin: 0 15px;
}

/* -------- search --------- */
/* -- from instructions on byu-search component for SIMPLE search -- */
byu-search .element-invisible {
  display: none;
}

byu-search .form-submit {
  display: none;
}

byu-search .form-item .custom-search-box {
  padding: 5px 10px;
  border: none;
  box-sizing: border-box;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

byu-search.mobile-view .form-item .custom-search-box {
  padding: 5px 10px 5px 16px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}



/* ------------ */

// headings
h1,h2,/*h3, */h4,h5,h6 {
  font-family: "Vitesse A", "Vitesse B", Georgia, serif;y;
}
h1 {
  font-size: $h1-font-size; // 36px; //em-calc(44);
}
h2 {
  font-size: $h2-font-size; // 29px; //em-calc(37);
}
h3 {
  font-size: $h3-font-size; // 24px;
  color: $navy;
}

// regions

#hero {

// if you want your images to stretch full width, you may want to copy this to your custom.scss file
//  img {
//    width: 100% !important;
//    height: auto !important;
//  }
}
#page-container {
  padding: 20px 0px;
}

/* ------------- Do NOT make custom changes here - if you do they will be overridden when you update the theme.
1. Create a custom.scss file in this scss directory.
2. Edit byu2017_d7.info and find the lines where scss/byu_default.scss is included. You will see a commented out line
that will tell the theme to look for your custom.scss file.
3. Add your css
4. Clear your caches.
   ----------- */
/* ---- It is good practice to have sections in your styling, like this:  --- */

/* ------- Front ------ */

/* -- front feature custom -- */

/* ------- Misc. ------ */