/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/


/* ------- Default BYU styling --------- */
/* colors here for now */
/* blues */
$navy: #002E5D;
$medblue: #869DB5;
$lightBlue: #e0f0cc;
$xlightblue: #C3DDF9;
$brightBlue: #0057B8;

$royal: #003DA5;
$lightRoyal: #114BAD;

/*// There are 6 grays right now..*/
$xlightgray: #f2f2f2;
$lightgray: #e5e5e5;
$lightergray: #e6e6e6;
//$medgray: #9b9b9b; // extra
$gray: #c5c5c5;
$medgray: #666;
$darkgray: #6a6a6b; // least used gray
$darkestgray: #141414;  // this should be used for body & default text.


/* other colors */
$red: #B3041A;

$yellow: #FCC015;
$lightyellow: #fef2d0;

$teal: #84DCB4;
$lightteal: #e5f7ef;

$green: #66B200; // doesn't work with accessibility
$lightgreen: #e0f0cc;


a {
  color: $royal;
}

a:hover {
  color: $navy;
}

/* --- BYU Components styling --- */
byu-header a {
  color: unset;
}

byu-header #site-title {
  color: #fff;
}

byu-header:not([mobile-view]) a {
  color: #fff;
}
byu-header:not([mobile-view]) a:hover, byu-header:not([mobile-view]) a:focus {
  text-decoration: none;
}

byu-header #site-title a:hover {
  color: #fff;
}

.p-gotham p, .p-gotham span, .p-gotham div, .p-gotham a {
  font-family: "Gotham A", "Gotham B", sans-serif;
}

.p-libreb p, .p-libreb span, .p-libreb div, .p-libreb a {
  font-family: "Libre Baskerville", Georgia, serif;
}
.p-sourcesans p, .p-sourcesans span, .p-sourcesans div, .p-sourcesans a {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  color: $darkestgray;
}

[slot="site-title"] p, [slot="site-title"] span, [slot="site-title"] div, [slot="site-title"] a,
#site-title p,
#site-title span,
#site-title div,
#site-title a {
  font-family: "Vitesse A", "Vitesse B", serif;
}

.subtitle.italic {
  font-style: italic;
}

byu-header[mobile-view] [slot="actions"] a {
  color: $navy;
  font-weight: 500;
}

byu-header[mobile-view] [slot="actions"] p {
  padding-bottom: 0;
  margin: 0;
}

[slot="actions"] div,
[slot="actions"] p {
  padding-bottom: 0;
  margin: 0 15px;
}
[slot="actions"] a:hover {
  text-decoration: none;
}

[slot="actions"].royal div.block {
  margin: 0 10px;
  padding: 2px;
  background: $royal;
}

/* Disable royal_bg if mobile/tablet */
@media (max-width: 1023px) {
  .action-link {
    background: transparent !important;
  }
}

.region.region-header-actions {
  display: flex;
}

// user
span[slot="user-name"] {
  cursor: default;
}


/* -- override we need for byu footer component */
.secondary-footer [class*="column"] + [class*="column"]:last-child {
  float: none !important;
}

/* --------- menu ---------- */

/* -------- search --------- */
/* -- from instructions on byu-search component for SIMPLE search -- */
byu-search {
  .element-invisible {
    display: none;
  }

  .form-submit {
    display: none;
  }

  .form-item, .form-actions {
    margin: 0;
    max-height: 23px;
    padding: 0;
    /* border-radius: 0px; */
  }
  input[type=search] {
    border-radius: 0;
  }

  @media (min-width: 1024px) {
    input[type=search] {
      height: 30px;
    }
  }
}

  //
  //byu-search .form-text {
  //  height: 30px;
  //  margin: 0;
  //}
  //
  //byu-search[mobile-view] .form-text {
  //  padding: 5px 10px 5px 16px;
  //  width: 100%;
  //  height: 35px;
  //  border: none;
  //  border-bottom: 1px solid #c5c5c5;
  //}

  /* -- needed to counter Foundation -- */
  //byu-search img {
  //  max-width: unset;
  //}

  //byu-search button#search-button {
  //  padding: 0 0 0 6px;
  //}

  /* ------------ */
  .h1-vitesse h1,
  .h2-vitesse h2,
  .h3-vitesse h3,
  .h4-vitesse h4,
  .h5-vitesse h5 {
    font-family: "Vitesse A", "Vitesse B", Georgia, serif;
    span, a {
      font-family: "Vitesse A", "Vitesse B", Georgia, serif;
    }
  }

  .h1-gotham h1,
  .h2-gotham h2,
  .h3-gotham h3,
  .h4-gotham h4,
  .h5-gotham h5 {
    font-family: "Gotham A", "Gotham B", Arial, sans-serif;
    span, a {
      font-family: "Gotham A", "Gotham B", Arial, sans-serif;
    }
  }

  .h1-sentinel h1,
  .h2-sentinel h2,
  .h3-sentinel h3,
  .h4-sentinel h4,
  .h5-sentinel h5 {
    font-family: "Sentinel A", "Sentinel B", "Vitesse A", "Vitesse B", Helvetica, serif;
    span, a {
      font-family: "Sentinel A", "Sentinel B", "Vitesse A", "Vitesse B", Helvetica, serif;
    }
  }
.h1-sourcesans h1,
.h2-sourcesans h2,
.h3-sourcesans h3,
.h4-sourcesans h4,
.h5-sourcesans h5 {
  font-family: 'Source Sans Pro', sans-serif;
  span, a {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.h1-libreb h1,
.h2-libreb h2,
.h3-libreb h3,
.h4-libreb h4,
.h5-libreb h5 {
  font-family: 'Libre Baskerville', serif;
  span, a {
    font-family: 'Libre Baskerville', serif;
  }
}


  .h1-navy h1, .h2-navy h2, .h3-navy h3, .h4-navy h4, .h5-navy h5 {
    color: $navy;
    a {
      color: $navy;
    }
    a:hover {
      color: $royal;
    }
  }

  .h1-gray h1, .h2-gray h2, .h3-gray h3, .h4-gray h4, .h5-gray h5 {
    color: $medgray;
    a {
      color: $medgray;
    }
    a:hover {
      color: $darkgray;
    }
  }

  .h1-black h1, .h2-black h2, .h3-black h3, .h4-black h4, .h5-black h5 {
    color: #000;
    a {
      color: #000;
    }
    a:hover {
      color: $darkgray;
    }
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 29px;
  }

  h3 {
    font-size: 24px;
  }

  //byu-menu.transparent {
  //  z-index: 100;
  //}

  byu-menu {
    z-index: 14;
  }

  @media (min-width: 1024px) {
    .hero-behind-menu {
      margin-top: -36px;
      position: relative;
      z-index: -1;
    }
  }

  .full-width-images .block img {
    width: 100%;
    height: auto !important;
  }

  .full-width-true div.main {
    max-width: 100%;
  }

  .full-width-false div.main {
    max-width: 1200px;
  }

  .main-top.custom-width {
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    padding: 30px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;

    &.no-min-height {
      min-height: 0;
    }

    &.min-height-300 {
      min-height: 300px;
    }

    &.min-height-500 {
      min-height: 500px;
    }
  }

  .main.custom-width {
    padding: 30px 0;
  }

  #page-container {
    padding: 20px 0;
  }




  /* Remove box-shadow from menu button in Firefox, Edge, IE11 */
  .mobile-menu-button {
    -webkit-box-shadow: none;
    box-shadow: none;
  }


  /* ---- Footer ---- */
  /*.three_four_merged .region-footer-41 {*/
  /*display: none;*/
  /*}*/
  /* - mobile */
  @media screen and (max-width: 767px) {
    byu-footer:not('normal') .two-column,
    byu-footer:not('normal') .three-column,
    byu-footer:not('normal') .four-column {
      column: 1;
    }
  }

  /* tablet */
  @media screen and (min-width: 768px) {
    .three_four_merged .region-footer-31,
    .two_three_merged .region-footer-21,
    .one_two_merged .region-footer-11 {
      width: 100%;
      padding-left: 0;
    }

  }

  /* large screen */
  @media screen and (min-width: 1200px) {
    .three_four_merged .region-footer-31,
    .two_three_merged .region-footer-21,
    .one_two_merged .region-footer-11 {
      width: 50%;
    }
  }

  byu-footer-column p {
  margin: 0;
  }

  /* ----------- Helpful Classess ---- */
  .two-column, .three-column, .four-column {
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
    column-gap: 15px;
  }
  .two-column {
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
  }
  .three-column {
    column-count: 3;
  }
  .four-column {
    column-count: 4;
  }

  .navy-button {
    background: $navy;
    color: #fff;
    padding: 12px 25px;
  }
  .medblue-button {
    background: $navy; /* change to medium blue */
    color: #fff;
    padding: 12px 25px;
  }

/* Remove white strip under footer */

#drupal-live-announce {
  display: none;
}


/* ------------- Do NOT make custom changes here - if you do they will be overridden when you update the theme.
1. Create a custom.scss file in this scss directory.
2. Edit byu2017_d7.info and find the lines where scss/byu_default.scss is included. You will see a commented out line
that will tell the theme to look for your custom.scss file.
3. Add your css
4. Clear your caches.
   ----------- */
/* ---- It is good practice to have sections in your styling, like this:  --- */
/* ------- Front ------ */
/* -- front feature custom -- */
/* ------- Misc. ------ */
